
.explore{
    max-height: min-content;
    position: relative;
    padding-bottom: 5%;
}
.explore-heading{
    padding: 2rem;
    text-align: center;
}

.explore-heading::after{
    height: 0.2rem;
    background: #e67e22;
    display: block;
    content: " ";
    width: 6%;
    margin-left: 47%;
    margin-top: 2%;
}

.card-container{
    margin: 0;
    padding: 0;
}


