.work-container{
    position: relative;
    min-height: 75vh;
    max-height: min-content;
}

.work-background{
    background: black;
}

.work-heading{
    padding: 2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.work-heading::after{
    height: 0.2rem;
    background: #e67e22;
    display: block;
    content: " ";
    width: 6%;
    margin-left: 47%;
    margin-top: 2%;
}






