.card-item{
    box-shadow: 5px 10px 18px #888888;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out; 
}

.card-item:hover{
    transform: scale(1.06);
}

ion-icon {
    color: #e67e22;
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.3s ease-in-out;
    margin-left: 40%;
    margin-top: 2%;
}

.card-item:hover ion-icon{
    transform: scale(1.15);
}

.card-heading{
    font-weight: 800;
    text-align: left;
    margin-left: 7.5%;
}

.card-content{
    font-size: small;
    font-weight: 600;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2%;
    margin-bottom: 5%;
}