.tip-container-right{
    margin-left: 120%;
    margin-top: 20%;
    visibility: hidden;
    transition: 0.5s ease;
}

.tip-container-below{
    margin-top: 0%;
    margin-left: 0%;
    transition: 0.5s ease;
}

.tool-tip{
    font-size: small;
    width: max-content;
    height: max-content;
    display: inline-block;
    background:rgba(0, 0, 0, 0.548);
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
}
