.tip-container-right{
    position: absolute;
    left: 120%;
    top: 20%;
    width: max-content;
    opacity: 1;
    transition: 0.5s ease;
}

.tip-container-below{
    margin-top: 0%;
    margin-left: 0%;
    transition: 0.5s ease;
}

.tool-tip{
    font-size: small;
    width: max-content;
    height: max-content;
    background:rgba(0, 0, 0, 0.548);
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    color: #fff;
}
